#map_canvas {

	margin-left: auto;
	margin-right:auto;
}

.appName {
	text-align:center;
	font-size: 40px;
	font-weight: bold;
	color: silver;
	font-style: oblique;
	background-image: url("footer_lodyas.png");
	padding: 20px;
	margin: auto;
	border-style: inset;
	border-width:5px;
	border-color:black;
}

#loginDiv {
	float:left;
	margin-top: 50px;
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
	background-image: url("footer_lodyas.png");
	border-style: inset;
	border-width:5px;
	border-color:black;
	color:silver;
}

#registerDiv{
	background-image: url("footer_lodyas.png");
	display:none;
}

#lockDiv{
	float:left;
	background-image: url("footer_lodyas.png");
	display:none;
}

#wipeDiv{
	display:none;
}

#menu {
	float:left;
	background-image: url("footer_lodyas.png");
	border-style: inset;
	border-width:5px;
	border-color:black;
	width:390px;
}

.placeholderDiv{
	max-width:100%;
	float:left;
	background-color:black;
}

#contentDiv {
	position:fixed;
	margin-top:0px;
	text-align:center;
	background-image: url("congruent_pentagon.png");
	height: 100%;
	width:100%;
}

.menuButton {
	float:left;
}

#lockButton {
	float:left;
}

#wipeButton {
	float:left;
}

.centerButton {
	margin:auto;
	text-align:center;
	display:block;
	width:75%;
}

.registerButton {
	margin:auto;
	text-align:center;
	display:block;
	width:50%;
}

table {
	color: silver;
	margin:auto;
}

#map_canvas {
		float:left;
		margin-top:50px;
        width: 800px;
        height: 550px;
}
